body {
    background-color: #{mix(THEMES[@session_theme.to_sym][:bg], '#000000', 0.5)};
    color: rgba(255, 255, 255, 0.9);
}

.bg-light {
    background-color: #{mix(THEMES[@session_theme.to_sym][:bg], '#000000', 0.7)}!important;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
    color: rgba(255,255,255,.9);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.3);
}

.btn, .btn[disabled] {
    background-color: #{mix(THEMES[@session_theme.to_sym][:bg], '#000000', 0.7)};
}

.alert {
    background-color: #{mix(THEMES[@session_theme.to_sym][:bg], '#ffffff', 0.1)};
    color: rgba(255, 255, 255, 0.8);
    border: none;
}

.form-control, .form-control[readonly] {
    background-color: #{mix(THEMES[@session_theme.to_sym][:bg], '#000000', 0.7)};
    color: rgba(255, 255, 255, 0.8);
    border-color: #{mix(THEMES[@session_theme.to_sym][:bg], '#ffffff', 0.3)};
}

.form-control:focus {
    background-color: #{mix(THEMES[@session_theme.to_sym][:bg], '#000000', 0.7)};
    color: rgba(255, 255, 255, 0.8);
}

.card {
    background-color: #{mix(THEMES[@session_theme.to_sym][:bg], '#ffffff', 0.05)}!important;
}

.progress {
    background-color: rgba(255, 255, 255, 0.08);
}

.dropdown-menu {
    background-color: #{mix(THEMES[@session_theme.to_sym][:bg], '#000000', 0.7)};
}

.dropdown-item {
    color: rgba(255,255,255,.9);
}

.navbar {
    border-bottom-color: #{mix(THEMES[@session_theme.to_sym][:bg], '#ffffff', 0.2)};
}

.nav-item {
    border-left-color: #{mix(THEMES[@session_theme.to_sym][:bg], '#ffffff', 0.2)};
}

.dropdown-divider {
    border-top-color: #{mix(THEMES[@session_theme.to_sym][:bg], '#ffffff', 0.2)};
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.7);
}

.table {
    color: #fff;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: rgba(255, 255, 255,.9);
}

hr {
    border-top-color: #{mix(THEMES[@session_theme.to_sym][:bg], '#ffffff', 0.2)};
}

pre {
    color: rgba(255, 255, 255, 0.9);
}

.modal-content {
    background-color: #{mix(THEMES[@session_theme.to_sym][:bg], '#000000', 0.7)}!important;
}

.versions-row:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

a, a:hover {
    color: #{mix(THEMES[@session_theme.to_sym][:bg], '#ffffff', 0.5)};
}